@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

p {
  width: 300px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

#p2 {
  font-size: 1rem;
  text-shadow: 1px 1px 2px pink;
}

#d1 {
  font-size: 2rem;
  color: #707b7c;
}

div p {
  font-size: 1rem;
  color: #aeafdf;
  background-color: rgba(255, 0, 0, 0.4);
}

a:link {
  text-decoration: none;
  color: green;
}

a:visited {
  color: maroon;
}

a:hover {
  text-decoration: underline;
  color: red;
}

h1 {
  border: 1px solid green;
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
}

#a1 {
  border: 10px solid red;
  padding: 20px;
  margin-top: 10px;
}

.d2 {
  border: 1px solid black;
  display: flex;

  justify-content: space-evenly;
}

section {
  border: 1px solid black;
  color: rgb(232, 58, 58);
}

#one {
  background-color: #707b7c;
  flex: 1;
}
#two {
  background-color: aqua;
  flex: 1;
}

#three {
  background-color: wheat;
  flex: 1;
}
