* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: beige;
  max-width: 500px;
  margin: 30px auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
