/* div {
  border: 1px solid green;
}

h1 {
  color: red;
}



.demo {
  background-color: red;
  color: white;
} */

/* div q {
  color: red;
}

div q span {
  color: green;
} */

/* h1,
q,
p,
cite {
  color: red;
} */

.info-box {
  border: 1px solid green;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
}

.info-box p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info-box span {
  font-weight: bold;
}

.info-box img {
  width: 75px;
  height: 75px;
}

#media {
  color: green;
}
